{% extends "fitness_app/layout.html" %}

{% block title %} Login {% endblock title %}

{% block content %}

<div class="login register_container w-full max-w-md mx-auto mt-10 p-6 bg-base-200 rounded-box"> 
    {% if form.errors %}
    {% comment %} <p>Your username and password didn't match. Please try again.</p> {% endcomment %}
    {% comment %} {{form.non_field_errors}} {% endcomment %}
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
 

    {{form}}

    <input type="hidden" name="next" value="{{ next }}">
    <button type="submit" class="btn btn-primary"> Login </button>


    {# Assumes you set up the password_reset view in your URLconf #}
    {% comment %} <p><a href="{% url 'password_reset' %}">Lost password?</a></p> {% endcomment %}

    </form>
</div>


{% endblock content %}