{% extends "fitness_app/layout.html" %}

{% block title %} Update Profile {% endblock title %}

{% block content %}
<div class="flex justify-center pt-10 pb-10 px-4 mt-10">
    {% comment %} Centered Card Wrapper {% endcomment %}
    <div class="card w-full max-w-xl bg-base-200 shadow-xl border border-base-300">
        <div class="card-body">
            <h2 class="card-title text-2xl font-bold text-primary mb-4">Edit Profile</h2>
            
            <form action="" method="post" class="space-y-4">
                {% csrf_token %}
                
               
                <div class="form-control">
                    {{ form }}
                </div>
                
                <div class="card-actions justify-end mt-6">
                    <a href="{% url 'home' %}" class="btn btn-ghost">Cancel</a>
                    <button type="submit" class="btn btn-primary"> Save Changes </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
