{% extends "fitness_app/layout.html" %}

{% block title %}workou view{% endblock title %}


{% block content %}
    
    <h1>
        <a href="{% url "home" %}"> Home </a>
    </h1>
    <div class="workout"> 
        <h2> workouts </h2>
        
        <button>
            <a href="{% url "create_workout" %}"> Create Routine</a>
        </button>

        {% for workout in workouts %}
            <h3>
                {{workout.split}} : 

                <button hx-get="{% url "delete_workout" workout.id %}"
                        hx-target="next span"
                        hx-swap="innerHTML"> Remove
                </button>
                {% comment %} <span> </span>
                <span> | </span> {% endcomment %}

                <button hx-get="{% url "edit_workout_split" workout.id %}"
                        hx-target="next span"
                        hx-swap="innerHTML"> update
                    </button>
                    
                {% comment %} <span> </span> {% endcomment %}

                
                    <button hx-get="{% url "add_exercise_to_workout" workout.id %}"
                        hx-target="next span"
                        hx-swap="innerHTML">
                            
                        Add exercise
                    </button>

                    <span id='add_exercise_to_workout_container'>

                    </span>
            </h3>
            
            <ul>
                {% for exercise in workout.exercises.all  %}
                    <li>
                        {{exercise.exercise_name}} : {{exercise.exercise_sets}}

                        <button hx-get="{% url "exercise_delete" exercise.id %}"
                            hx-target="next span"
                            hx-swap="innerHTML"
                            >R </a>
                        </button>

                        <span id="exercise_delete_container">

                        </span>
                         <span> | </span>

                         <button hx-get="{% url "update_exercise" exercise.id %}"
                                 hx-target='next span'
                                 hx-swap="innerHTML">E
                         </button>
                         <span> 

                         </span>
                    </li>
                {% endfor %} 
                
            </ul>

          

            {% empty %}
            <p> no workouts created yet </p>
        
            <p> would you like to : 
                <a href="{% url "template_request" %}"> Request template </a>
            </p>
        {% endfor %}
        


            
        <p> .</p>
        <div>
            <button>
                <a href="{% url "clear_all_workouts" %}"> Clear all workouts </a>
            </button>
        </div>
    </div>

{% endblock content %}